# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

export ZDOTDIR=$HOME/.config/zsh

export EDITOR="nvim"
export TERMINAL="konsole"
export BROWSER="firefox"

GEM_PATH=/usr/bin/gem
PYTHON_BIN_PATH=/home/tomii/.local/bin
export PATH=$PATH:$GEM_PATH:$PYTHON_BIN_PATH

# Export the reset i3 config script to be executed from rofi
export PATH=$PATH:$HOME/.dotfiles/.utility/i3

export BUN_INSTALL="$HOME/.bun" 
export PATH=$BUN_INSTALL/bin:$PATH 
